<!-- <hr class="new"> -->
<div class="container">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Ex. Playing" (input)="search($event.target)">
      </mat-form-field>
      
    <div class="right">
        <button mat-raised-button color="primary" class="add_button" (click)="openDialog()">
            <mat-icon>add_circle_outline</mat-icon>Add Task
        </button>
    </div>
</div>

<div class="rectangle" *ngFor="let i of  list">
    <div class=" flex-container">
        <div class="flex-item-left">
            <p class="item_name"> {{i.name}}</p>
            <p class="item_description">{{i.description}}</p>
        </div>
        <div class="flex-item-right">
            <!-- <button class="action_button">Delete</button><br>
            <button class="action_button">Edit</button> -->
            <button mat-raised-button color="primary" class="action_button"><mat-icon>edit</mat-icon>Edit</button><br>
            <button mat-raised-button color="accent" class="action_button"
                (click)="delete(i.id)"><mat-icon>delete_outline</mat-icon>Delete</button>
        </div>
    </div>


</div>